*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container input{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0);

}
.container button{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    }
    .comment{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form input{
        width: 400px;
        height: 20px;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        text-align: center;
        color: #4CAF50;
    }
    form button{
        width: 200px;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: #4CAF50;
        color: #3f12c4;
        cursor: pointer;

    }
    .comment a{
        text-decoration: none;
        color:red;
        margin-top: 5px;
        margin-bottom: 30px;
        
    }
    .comment a:hover{
        color: #d70e94;
        text-decoration: underline;
        }